[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
pylint = "*"
black = "*"
ansible = "*"

[packages]
praw = "*"
python-twitch-client = "*"
sqlalchemy = "*"
pymongo = "*"
pylint = "*"
youtube-dl = "*"
asyncio = "*"
discord-py = {extras = ["voice"],version = "*"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
