[Unit]
Description=Sestra Watchdog for the Server Service

[Service]
Type=simple
ExecStart=/opt/listener-watchdog/listener_watchdog.py
WorkingDirectory=/opt/listener-watchdog/
Restart=always

[Install]
WantedBy=multi-user.target